<div class="left-navi-container">
    <div class="user-container">
        <!-- <img src="https://w0.peakpx.com/wallpaper/926/194/HD-wallpaper-ramcharan-ram-charan-ram-charan-tej-charan-thumbnail.jpg" class="image" /> -->
        <img src="./../../../assets/image.png" class="image" />
        <p class="name-style">
            Durgasri Challa</p>
        <div class="icon-style">
            <fa-icon [icon]="arrowUp" class="arrow-styles"></fa-icon>
            <fa-icon [icon]="arrowDown" class="arrow-styles"></fa-icon>
        </div>
    </div>
    <p class="title">MENU</p>
    <div>
        <div class="menu-container">
            <fa-icon [icon]="overviewIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Overview</p>
        </div>
        <div class="menu-container">
            <fa-icon [icon]="listIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Transactions</p>
        </div>
        <div class="menu-container">
            <fa-icon [icon]="chartIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Analytics</p>
        </div>
        <div class="menu-container">
            <fa-icon [icon]="cardIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Cards</p>
        </div>
    </div>

    <p class="title">GENERAL</p>
    <div>
        <div class="menu-container">
            <fa-icon [icon]="settingsIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Settings</p>
        </div>
        <div class="menu-container">
            <fa-icon [icon]="helpIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Help/Support</p>
        </div>
        <div class="menu-container">
            <fa-icon [icon]="darkModeIcon" class="menu-icons"></fa-icon>
            <p class="menu-txt">Dark Mode</p>
            <fa-icon [icon]="toggleIcon" class="toggle-icon"></fa-icon>
        </div>
    </div>

    <div class="new-payment-container">
        <button class="btn-style">
            +
        </button>
        <p class="payment-txt">New Payment</p>
    </div>
</div>