<div class="suggestion" *ngIf="!hideTopNaviBar">
    <div class="style1">
      <p>Stay updated on our latest feature by recieving notifications from us!</p>
      <button class="button">Learn More</button>
    </div>
    <fa-icon [icon]="faTimes" class="cross-icon" (click)="hideTopNavBar()"></fa-icon>
  </div>
  <div class="bank-part">
    <div class="style2">
        <fa-icon [icon]="bankIcon" class="icon-style"></fa-icon>
        <p class="bank-style">Hexa Bank</p>
        <fa-icon [icon]="leftArrow" class="arrow-icon"></fa-icon>
    </div>
<div class="top-navigation-container">
        <h3>Overview</h3>
        <div class="search-style">
            <fa-icon [icon]="searchIcon"></fa-icon>
            <p>Search anything here...</p>
        </div>
        <div class="message-noti-icons">
            <div class="message-icon"><sub><fa-icon [icon]="inboxIcon" ></fa-icon></sub>
                <sup>8</sup>
            </div>
        <div class="message-icon">
            <sub><fa-icon [icon]="bellIcon" ></fa-icon></sub>
            <sup>8</sup>
        </div>  
        
    </div>
</div>
</div>