<div class="money-statistics-card">
    <div class="criteria">
        <p>Money Statistics</p>
        <div>
            <select>
                <option>Monthly</option>
                <option>Yearly</option>
            </select>
            <fa-icon [icon]="dotsIcon"></fa-icon>
        </div>
    </div>
    <div class="money">
        <div *ngFor="let details of moneyDetails">
            <div class="money-data">
                <p class="statistics-type">{{details.type}}</p>
                <p class="money-value">{{details.value.value}}</p>
                <div class="trends">
                    <fa-icon [icon]="lineChart"
                        [ngClass]="details.type=='total_income'?'income': details.type=='total_expense'?'expense':'invest'"></fa-icon>
                    <p
                        [ngClass]="details.type=='total_income'?'income': details.type=='total_expense'?'expense':'invest'">
                        +{{details.value.trend}}% <span>from last month</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
</div>