<div class="cards-container">
    <div class="flex-style">
        <p>My Cards:1<span>/2</span></p>
        <div class="arrow-icons">
            <fa-icon [icon]="arrowLeftIcon"></fa-icon>
            <fa-icon [icon]="arrowRightIcon"></fa-icon>
        </div>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi4odOb-2ROrTnNLVQ79AXBHSmaThxP2rTxnFv8pfmnA5UgQZqPIybOQraNo0aDxzItoc&usqp=CAU0"
        alt="card" class="card-image" />
    <p class="payment-style"><span>+</span> Add New Card</p>
    <hr />
    <p class="quick-actions">Quick Actions</p>
    <!-- <div *ngFor="let action of actions" class="action-style"> -->
    <div class="action-style">
        <div class="action-style1">
            <fa-icon [icon]="topUpIcon"></fa-icon>
            <p>Top Up</p>
        </div>
        <div class="action-style1">
            <fa-icon [icon]="transferIcon"></fa-icon>
            <p>Transfer</p>
        </div>
        <div class="action-style2">
            <fa-icon [icon]="withdrawalIcon"></fa-icon>
            <p>Withdrawal</p>
        </div>
    </div>
    <hr />
    <div class="saving-plan">
        <div class="saving-plan1">
            <p class="saving-plan-txt">Saving Plan</p>
            <p class="symbol">+</p>
        </div>

        <div class="data-style">
            <div class="each-item">
                <div class="data-style1">
                    <div class="data-style2">
                        <fa-icon [icon]="mobileIcon" class="mobile-icon-style"></fa-icon>
                        <div>
                            <p class="mobile-txt">New Mobile</p>
                            <p class="target-style">Target $20,000</p>
                        </div>
                    </div>
                    <fa-icon [icon]="dotsIcon" class="three-dots"></fa-icon>
                </div>
                <div class="total">
                    <p>Total:$20,000</p>
                </div>
                <progress value="50" max="100" class="progress-bar"></progress>
            </div>
            <div class="each-item">
                <div class="data-style1">
                    <div class="data-style2">
                        <fa-icon [icon]="tvIcon" class="mobile-icon-style"></fa-icon>
                        <div>
                            <p class="mobile-txt">New TV</p>
                            <p class="target-style">Target $15,000</p>
                        </div>
                    </div>
                    <fa-icon [icon]="dotsIcon" class="three-dots"></fa-icon>
                </div>

                <div class="total">
                    <p>Total:$15,000</p>
                </div>
                <progress value="50" max="100" class="progress-bar"></progress>
            </div>
            <div class="each-item">
                <div class="data-style1">
                    <div class="data-style2">
                        <fa-icon [icon]="bicycleIcon" class="mobile-icon-style"></fa-icon>
                        <div>
                            <p class="mobile-txt">New Bicycle</p>
                            <p class="target-style">Target $5,000</p>
                        </div>
                    </div>
                    <fa-icon [icon]="dotsIcon" class="three-dots"></fa-icon>
                </div>
                <div class="total">
                    <p>Total:$8,000</p>
                </div>
                <progress value="50" max="100" class="progress-bar"></progress>
            </div>
            <div class="each-item">
                <div class="data-style1">
                    <div class="data-style2">
                        <fa-icon [icon]="taxiIcon" class="mobile-icon-style"></fa-icon>
                        <div>
                            <p class="mobile-txt">New Car</p>
                            <p class="target-style">Target $100,000</p>
                        </div>
                    </div>
                    <fa-icon [icon]="dotsIcon" class="three-dots"></fa-icon>
                </div>
                <div class="total">
                    <p>Total:$200,000</p>
                </div>
                <progress value="50" max="100" class="progress-bar"></progress>
            </div>
            <div class="each-item">
                <div class="data-style1">
                    <div class="data-style2">
                        <fa-icon [icon]="mobileIcon" class="mobile-icon-style"></fa-icon>
                        <div>
                            <p class="mobile-txt">New Mobile</p>
                            <p class="target-style">Target $20,000</p>
                        </div>
                    </div>
                    <fa-icon [icon]="dotsIcon" class="three-dots"></fa-icon>
                </div>
                <div class="total">
                    <p>Total:$20,000</p>
                </div>
                <progress value="50" max="100" class="progress-bar"></progress>
            </div>
        </div>
    </div>
</div>