@import "~/../../../../styles.scss";

.cards-container{
    background-color: $secondary_color;
    border-radius: 10px;
    padding-left:25px;
    padding-right: 25px;;
    width:340px;
    margin-left:60px;
    margin-top:6px;   
}

.flex-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        color: $primary_color;
        font-size:15px;
        font-weight: bold;
        padding-top: 6px;
        padding-bottom: 2px;
        margin-bottom:0px;
        margin-top: 0px;
    }
    span{
        
        color: $gray_color;
        font-size:13px;
    }
}


.arrow-icons{
    margin-top:6px;
    margin-bottom:6px;
    padding-top: 2px;
    padding-bottom: 2px;
    fa-icon{
        border: 1px solid $gray_color;
        border-radius:8px;
        padding-bottom:4px;
        padding-top:4px;
        padding-left: 8px;
        padding-right: 8px;
        margin-right:6px;
        font-size:12px;
    }
}

.card-image{
    margin-top:0px;
    width:330px;
    height: 180px;
}

.payment-style{
    text-align: center;
    font-size:14px;
    font-weight: bold;
    color: $primary_color;
    border:2px dashed $gray_color;
    border-radius:10px;
    padding-top:12px;
    padding-bottom:12px;
    margin-top: 4px;
    margin-bottom: 0px;
    span{
        background-color:$primary_color;
        font-size:18px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 6px;
        color: $secondary_color;
        border-radius: 15px;
        border: 1px solid $primary_color;
        margin-right:4px;
    }
   
}

.action-style{
    display: flex;
    flex-direction: row ;
    color: $gray_color;
    text-align: center;
    padding-left:30px;
    padding-top:4px;
    padding-bottom:4px;
    border:1px solid $gray_color;
    border-radius: 10px;
}

.action-style1{
    display: flex;
    flex-direction: column ;
    // margin-top:18px;
    padding-left: 13px;
    padding-right: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-right: 1px solid $gray_color;
    color: $primary_color;
    fa-icon{
        font-size: 19px;
        padding-bottom: 2px;
    }
    p{
        font-size: 13px;
        margin: 0px;
    }
}

.action-style2{
    display: flex;
    flex-direction: column ;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 18px;
    color: $primary_color;
    fa-icon{
        font-size: 19px;
        padding-bottom: 2px;
    }
    p{
        font-size: 13px;
        margin: 0px;
    }
}


.saving-plan{
    display: flex;
    flex-direction: column;
}

.saving-plan1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saving-plan-txt{
    color: $primary_color;
    font-size: 16px;
    font-weight: bold;
    margin:0px
}

.symbol{
    margin-top:0px;
    color: $secondary_color;
    background-color: $primary_color;
    border-radius: 22px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

hr{
    color: $gray_color; 
    font-weight: bold;
}



progress:after {
    content: attr(value)'%';
    position: relative;
    top:-35px;
    left:290px;
    color: $gray_color;
  }

.data-style{
    display: flex;
    flex-direction: column;
    fa-icon{
        color:$gray_color;
        font-size:16px;
    }
}

.data-style1{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.data-style2{
    display: flex;
    flex-direction: row;
}

.mobile-txt{
    font-size:14px;
    color:$primary_color;
    font-weight:bold;
    margin:0px;
    padding-top: 4px;
}

.target-style{
    color: $gray_color;
    font-size:12px;
    margin: 0px;
    padding-top:6px;
}

.mobile-icon-style{
    font-size:25px;
    color: $primary_color;
    padding-top: 14px;
    padding-bottom:10px;    
    padding-right:16px;
    padding-left:16px;
    border: 1px solid $gray_color;
    border-radius: 6px;        
    margin-right:10px;
}

.three-dots{
    color: $gray_color;
    font-size:50px;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:14px;
    color: $primary_color;
    margin:0px;
}

.quick-actions{
    font-size: 15px;
    color: $primary_color;
    margin:0px;
    font-weight: bold;
    margin-bottom: 6px;
}

.progress-bar{
    width:320px;
    margin: 0px;
    margin-bottom: 4px;
}